.product {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 320px;
}
.product img{
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.footer-text {
    justify-content: center;
}

.nav-color {
    color: white!important;
}