html, body {
    margin: 0px;
    height: 100%;
}
.nav-color {
    color: white!important;
}
footer {
    bottom: 0;
    width: 100%;
}
.footer-text {
    justify-content: center;
}

/* The bag of the header */
#bag {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
#bag a {
    display: flex;
    text-align: center
}
#bag img {
    margin-right: 10px;
    max-width: 40px;
    filter: invert(0.7);
}
#bag:hover img {
    filter: invert(0.9);
}
@media (min-width: 992px) {
    #bag {
        top: 0;
        right: 0;
        position: absolute;
    }
}

/* The product list in index.html */
 #product-list .product {
    margin: auto;
    padding-bottom: 10px;
    height: 100%;
    min-width: 250px;
    max-width: 450px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
}
#product-list .product:hover {
    background-color: #eeeeee;
    -webkit-transition: .4s;
    transition: .4s;
}

#product-list .row .col.product-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* The product details in product.html */
 #product-details .product {
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}
#product-details .product .row {
    margin: auto;
    width: 100%;
}
#product-details .product .col {
    margin-bottom: 20px;
}
#product-details .product img {
    border: 1px black solid;
}

/* The bag details in bag.html */
#bag-details {
    overflow: auto;
}
#bag-details .product {
    margin: auto;
    padding-top: 10px;
}
#bag-details .product .row {
    width: 100%;
    margin: auto;
}
#bag-details .product .col {
    margin-bottom: 10px;
}
#bag-details .product img {
    display: flex;
    margin: auto;
    min-width: 150px;
    max-height: 250px;
    width: auto;
    cursor: pointer;
    border: 1px black solid;
}
#bag-details .product img:hover {
    border: 2px black solid;
}
#bag-details .product .info-text {
    display: flex;
    margin: auto;
    justify-content: center;
}
#bag-details .product .qty-container {
    display: flex;
}
#bag-details .product .qty-container input {
    margin-left: 10px;
    width: 80px;
}
/* Special, for product details and bag details */
@media (max-width: 900px) {
    #product-details,#bag-details .product .col {
        min-width: 100%;
    }
}
#checkout {
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

/* Global, in index.html, product.html and bag.html */
#waiter {
    display: flex;
    margin: auto;
    margin-top: 15%;
    width: 50px;
    height: 50px;
}
.main {  
    margin-top: -132px;
    padding-top: 132px;
    min-height: 100%;

}
.main #bag-details,#product-list,#product-details {
    padding-top: 5%;
    padding-bottom: 5%;
}
.product img{
    margin-bottom: 15px;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-bottom: 1px black solid;
}
.product h3,p,select {
    margin-left: 10px;
    margin-right: 10px;
}
.product select {
    margin: auto;
    width: 100%;
}
.product button {
    width: 150px;
    max-width: 100%;
}
